<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339969390577-i9ji6l5gago7p741a4tp365cj68c44ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339969390577-i9ji6l5gago7p741a4tp365cj68c44ee</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Mx-Z4Va2qafPtcAog820UD9AcoSog9s</string>
	<key>GCM_SENDER_ID</key>
	<string>339969390577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrestaffa.cryptfolio</string>
	<key>PROJECT_ID</key>
	<string>cryptfolio-ff1ce</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptfolio-ff1ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339969390577:ios:358adb362a5d3e169e7650</string>
	<key>DATABASE_URL</key>
	<string>https://cryptfolio-ff1ce.firebaseio.com</string>
</dict>
</plist>